################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSFileManager/obj/Debug/net6.0
/CSFileManagerClient/obj
/CSFileManager/obj
/CSharpFileManager/obj/Debug
/CSFileManagerClient/.vs/CSFileManager/v17
/CSharpFileManager/obj/Release
/CSFileManager/.vs/CSFileManager/v17
/CSFileManagerClient/bin/Debug
/CSharpFileManager/bin/Debug
/AuditManager/.vs/AuditManager/v17
/AuditManager/obj/Debug
/AuditManager/packages
/AuditManager/Properties
/AuditManagerCommon/obj/Debug
/packages
/AuditManager/bin/Debug
/AuditManagerCommon/bin/Debug
/AuditManager/obj/Release
/.vs/legal/FileContentIndex
.vs/slnx.sqlite
.vs/legal/v17/.suo
.gitignore
