################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSFileManager/obj/Debug/net6.0
/CSFileManagerClient/obj
/CSFileManager/obj
